# Matches the codeowners of bazelbuild/rules_nodejs
# Eventually we hope to reconcile the two repositories
* @alexeagle @soldair @gregmagolan
# Also use the GitHub team from this repo
* @bazelbuild/rules_closure_collaborators
